.btn-bd-download {
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484
}

.btn-bd-download:hover,
.btn-bd-download:active {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484
}

.btn-bd-download:focus {
    box-shadow: 0 0 0 3px rgba(255, 228, 132, 0.25)
}

.hero-main {
    border-radius: 30px;
    background-color: rgb(153,204,204);
}

.hero-title {
     font-variant: small-caps;
     font-weight: 200;
     font-size: 6em;
     color: rgb(44,62,80);
     overflow-x: visible;
     white-space: nowrap;
}

.hero-subtitle {
     font-variant: small-caps;
     color: rgb(44,62,80);
     font-weight: 300;
}


.hero-blog-title {
     font-variant: small-caps;
     font-weight: 200;
     font-size: 3em;
     color: rgb(44,62,80);
     overflow-x: visible;
}

.hero-blog-subtitle {
     font-variant: small-caps;
     color: rgb(44,62,80);
     font-weight: 300;
}

.top-area {
    margin-bottom: 30px;
}

.jumbotron {
    width: 80%;
    background-color: rgb(153,204,204);
    color: rgb(33, 37, 41);
    font-family: Lato;
}

.bg-full {
  position: relative;
}

.bg-full:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX( -50%);
  height: 100%;
  width: 100vw;
  z-index: -100;
  background: rgb(153,204,204);
}

.navbar {
    background-color: #2c3e50 !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-brand-logo {
    margin-right: 15px;
}

.ecosystem {
    text-align: center;
    color: #red;
}

.section-heading .lead {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.section-heading h2 {
    margin-bottom: 10px;
}

.blog-header, .blog-post, .blog-pagination {
  margin-bottom: 2rem;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}

.carousel {
    background-color: black;
    margin: 0 auto;
    position: relative;
    transform: translate(0%, -50%);

}

.carousel-caption {
    padding-top: 15px;
    padding-bottom: 5px;
    position: static;
    display: inline-block;
    color: white;
    text-align: center;
}

.carousel-caption p {
    box-sizing: border-box;
    position: static;
    display: inline-block;
    color: white;
    text-align: center;
}

.carousel-caption p:hover {
    color: #ee4c2c;
}

.carousel-item {
    background-color: black;
    white-space: nowrap;
    font-size: 1.125rem;
    text-align: center;
    text-overflow: ellipsis;
}


.carousel-indicators {
    margin-bottom: 0;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.highlight {
    box-sizing: border-box;
    display: block;
    border-radius: 30px;
    background-clip: border-box;
    background-size: auto;
}

.highlight pre {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}