.navbar-top {
    background-color: #2c3e50 !important;
}

.navbar-brand {
    color: white !important;
}

img.navbar-brand-logo {
    position: relative;
    top: -3px;
    margin-right: 15px;
    height: 2rem;
}


.btn-bd-download {
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484
}

.btn-bd-download:hover,
.btn-bd-download:active {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484
}

.btn-bd-download:focus {
    box-shadow: 0 0 0 3px rgba(255, 228, 132, 0.25)
}
