{{ define "main" }}
<div class="container">
    {{- partial "top-area" . -}}

    {{ $truncate := default true .Site.Params.truncate }}

    <div class="row justify-content-center">
            <div class="col col-sm-7">
    {{ if .Content }}
    <header>
        <h1 class="blog-post-title">
            <a class="text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <hr>
    </header>
    <section class="blog-post">
        {{ .Content }}
    </section>
    {{ end }}

    {{ $paginator := .Paginate .Pages }}
    {{ range $paginator.Pages }}

        {{ if $truncate }}
            {{ .Render "summary" }}
        {{ else }}
            {{ .Render "content" }}
        {{ end }}

    {{ end }}

    {{ partial "paginator" . }}
    </div>
    </div>
    </div>
</div>
{{ end }}
