<!-- layout/posts/summary.html -->
<article class="blog-post">
    <header>
        {{ partial "post-title" . }}
        {{ partial "post-date" . }}
        {{ partial "post-tags" . }}
        {{ partial "post-categories" . }}
    </header>
    <div class="blog-post-content">
        {{- .Summary -}}
        {{- if .Truncated -}}
            ...
            <p></p>
            <a href="{{ .RelPermalink }}">readMore</a>
        {{- end -}}
    </div>
</article>
<!-- \ layout/posts/summary.html -->
