{{ $n_posts := .Params.carousel_max_size | default 3 }}

<!-- New banner -->
  <div id="myCarousel" class="carousel bg-full slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {{ range $index, $value := (where site.RegularPages "Section" "posts" | first $n_posts ) }}
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{$index}}" {{ if (eq $index 0) }}class="active" aria-current="true"{{ end }} aria-label="Slide {{$index}}"></button>
      {{ end }}
    </div>

    <div class="carousel-inner">
    {{ range $index, $value := (where site.RegularPages "Section" "posts" | first $n_posts ) }}
      <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
        <div class="container">
          <div class="carousel-caption text-start">
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </div>
        </div>
      </div>
    {{ end }}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>