{{ $navbar := $.Site.Params.navbar }}

<nav class="navbar navbar-top navbar-expand-md fixed-top bd-navbar flex-md navbar-dark bg-light">
    <div class="container">
        <a class="navbar-brand navbar-custom-brand" href="{{ "." | relURL}}">
          {{- with $navbar.logo -}}
          <img class="navbar-brand-logo d-inline-block align-center" src="{{ printf "%s" . | relURL }}" loading="lazy">
          {{- end -}}
          <div class="navbar-brand-text d-inline-block align-center">
          {{- .Site.Title -}}
          </div>
        </a>

        <!-- Button showing on small screens to show the navbar content -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- /Button showing on small screens to show the navbar content -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ range .Site.Menus.main }}
                <li class="nav-item mx-auto">
                    <a class="nav-link {{ if $.IsMenuCurrent " main " . }} active" aria-current="page{{ end }}" href="{{ .URL  }}">
                      {{ .Pre }}
                      {{ .Name }}
                      {{ .Post }}
                    </a>
                </li>
                {{ end }}
            </ul>
            <ul class="navbar-nav flex-row ml-md-auto justify-content-center justify-content-md-end">
                {{ range .Site.Menus.links }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ .URL | absURL }}"> 
                    {{- if $navbar.linksOnlyIcon -}}
                      {{- .Pre -}}
                    {{- else -}}
                      {{ .Pre }}
                      {{ .Name }}
                    {{ .Post }}  
                    {{- end -}}
                  </a>
                </li>
                {{ end }}
                {{- with $navbar.button -}}
                <!-- Download button -->
                <li class="nav-item">
                    <a class="btn btn-bd-download mb-3 mb-md-0 ms-md-3" href="{{ printf "%s" .url | relURL }}">
                        {{- .text -}}
                    </a>
                </li>
                {{- end -}}
            </ul>
        </div>
    </div>
</nav>